.mobile {
	.mobileMenu {
		a {
			color: #ffffff;
		}
	}

	.toggle {
		display: block;
		float: left;
		margin-left: 20px;
		margin-right: 10px;
	}

	.logo {
		float: left;
		margin-right: 10px;
	}

	.subjectMenu {
		font-weight: bold;
		text-transform: uppercase;
		background: #ccc;

		a {
			color: #ffffff !important;
		}
	}

	.onlyMobile {
		display: none;
	}

	@media (max-width: 767px) {
		.onlyMobile {
			display: block;
		}
	}

	.active {
		background: #ebebeb;
	}
}