table.list {
    thead {
        tr {
            th {
                vertical-align: middle;
            }
        }
    }
    tbody {
        tr {
            td {
                vertical-align: middle;

                a.editable {
                    cursor: pointer;
                }
            }
        }
    }
}
.addDoc {
    position: absolute;
    right: 20px;
    top: 70px;
}