.add {
    position: fixed;
    left: 0px;
    top: 51px;
    bottom: 0px;
    z-index: 1050;
    background-color: #fff;
    box-shadow: 0px 0px 5px #000;

    .btn {
        cursor: pointer;
    }

    h1 {
        font-size: 18px;
        padding: 7px 15px;
        background: #3c308b;
        color: #fff;
        margin-top: 0px;

        .btn {
            cursor: pointer;
            float: right;
        }
    }

    .scrolWrapper {
        overflow-y: auto;
        max-height: calc(100vh - 103px);
    }

    .dropzone {
        height: 100px;
        background: #e9e8e8;
        border: 1px dashed;
        border-radius: 3px;
        text-align: center;
        padding-top: 25px;
    }

    .house {
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        padding-bottom: 10px;
        padding-top: 10px;
        margin-bottom: 0px;
    }

    .house > div {
        margin-bottom: 5px;
    }

    .errors {
        color: red;
    }
}