.add {
    background-color: #fff;

    .btn {
        cursor: pointer;
    }

    .layer_btns {
        button {
            margin-right: 10px;
        }
    }

    h1 {
        font-size: 18px;
        padding: 7px 15px;
        background: #3c308b;
        color: #fff;
        margin-top: 0px;

        .btn {
            cursor: pointer;
            float: right;
            margin-left: 10px;
        }
    }

    .scrolWrapper {
        max-height: calc(100vh - 103px);
    }

    
}