.apply_path_by_str input {
    width: calc(100% - 51px);
    float: left;
    margin-right: 10px;
}
.house {
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 0px;

    .line {
        margin-bottom: 10px;
    }
}

.house > div {
    margin-bottom: 5px;
}