.kpiTable {
    
    thead tr th {
        vertical-align: middle;

        &.mainCol {
            min-width: 450px;
        }
    }

    .editable {
        cursor: pointer;
    }

    .center {
        text-align: center;
    }

    .head {
        background: rgb(146, 227, 238);

        .quarts {
            min-width: 102px;
        }
    }

    .unhead {
        background: white;
    }

    tbody {
        tr {
            td {
                vertical-align: middle;

                input {
                    min-width: 50px;
                }
            }
        }
    }
}