.tableReinforcedConcreteWorks {

    table {
        width: auto;

        tbody {

            tr {

                td {
                    text-align: center;
                    padding: 2px 10px;
                    border-color: white;
                }

                td.summ {
                    background-color: #f2f2f2;
                }

                td.rightAlign {
                    text-align: right;
                }
            }
        }

        thead {
            .thName {
                vertical-align: middle;
            }
            .sectionNames {
                text-align: center;
            }
        }
    }

    .empty {
        background-color: #fff;
    }

    .active {
        background-color: #efedf9;
        cursor: pointer;
    }
}