table {
    tbody {
        tr {
            border-bottom: 5px solid #fff;

            td {
                color: #333333;
                vertical-align: middle;
                border: 0px;

                .nameProj {
                    margin-bottom: 0px;
                }

                .plus {
                    float: left;
                    margin-right: 3px;
                    color: #949494;
                    cursor: pointer;
                    font-size: 12px;
                    padding-top: 3px;
                }

                .addressProj {
                    color: rgb(204, 204, 204);
                    margin-bottom: 0px;
                }

                &.cursor {
                    cursor: pointer;
                }

                &.number {
                    width: 35px;
                }

                &.icon {
                    width: 58px;
                    background: #f3f3f2;

                    img {
                        width: 36px;
                    }
                }

                &.selectedCell {
                    background: #f3f3f2;
                }

                &.selectedCell:hover {
                    background: #e4e4e4;
                }

                &.inPlan {
                    text-align: center;
                    background: #fff;
                }

                &.inProgress {
                    text-align: center;
                    background: #f3f3f2;
                }

                &.done {
                    text-align: center;
                    background: #ccfe9a;
                }

                &.none {
                    text-align: center;
                    font-weight: bold;
                    color: #ccc !important;
                }

                &:hover {
                    background: #e4e4e4;
                }

                &.paddingRight {
                    border-right: 20px solid #fff !important;
                }
                
                &.bordRight10 {
                    border-right: 10px solid #fff !important;
                }
            }
        }
    }
}

.links {
    color: #949494;
    cursor: pointer;
}
.modalBackground {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(33, 33, 33, 0.85);
    z-index: 1000;
}
.modalDialog {
    position: fixed;
    top: 20%;
    left: 30%;
    right: 30%;
    bottom: 20%;
    text-align: center;
    background-color: rgba(250, 250, 250, 1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    z-index: 1001;
}
.modalDialog>header {
    background: #217cba;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    padding: 0 2rem;
    min-height: 50px;
}
.modalDialog>header>button {
    border: none;
    padding: 0;
    font-size: 1.2rem;
    background: inherit;
    color: white;
    cursor: pointer;
}
.modalContent {
    text-align: left;
    padding: 20px;

    img {
        float: left;
        margin-right: 15px;
    }

    .nameProj {
        margin-bottom: 0px;
    }

    .addressProj {
        color: rgb(204, 204, 204);
        margin-bottom: 0px;
    }

    ul {
        list-style: none;
        margin: 0px;
        padding: 0px;

        li {
            display: block;
            float: left;
            margin-right: 10px;
            background: #f3f3f2;
            text-align: center;
            line-height: 40px;
            padding: 10px 20px;

            a {
                color: #000;
            }
        }
    }
}