body {
    font-size: 12px;
}

/*
 * Main content
 */

.main {
    
}
@media (min-width: 768px) {
    .main {
        
    }
}

.bc {
    margin-bottom: 10px;
}

/*
 * Components
 */

.glyphicon {
    cursor: pointer;
    padding: 0px 10px;
}